@use 'variables' as *;

.hero {
  background-color: var(--primary-dark);

  @media (min-width: 36rem) {
    padding: var(--spacing-6);
  }

  @media (min-width: #{$md-min}) {
    padding: var(--spacing-10);
  }
}

.text {
  width: 100%;
  max-width: var(--w-36);
  padding: var(--spacing-6);
  background-color: rgb(var(--white-rgb) / 0.75);

  span {
    color: var(--primary);
    font-size: var(--fs-3);
  }
}

.title {
  text-transform: uppercase;
  font-size: var(--fs-11);
  line-height: 1;
  margin-bottom: var(--spacing-4);
}

.filters {
  display: flex;
  gap: var(--spacing-6);
  padding: var(--spacing-6);
  margin-top: var(--spacing-6);
  background-color: var(--white);

  @media (max-width: 35.9375rem) {
    flex-direction: column;
  }
}
