.root {
  --trans-x: calc(100% + var(--spacing-7));

  position: fixed;
  bottom: var(--spacing-6);
  right: var(--spacing-6);
  z-index: 999;
  padding: var(--spacing-4);
  border: none !important;

  transition: all 0.2s ease-in-out;
  transform: translateY(var(--trans-x));
}

.show {
  transform: translateY(0);
}
